{% extends 'invite/detail.html' %}
{% load staticfiles %}

{% block content %}
<!-- Main -->
	<section id="main" class="wrapper">
		<div class="container">
			<header class="major special">
				<h2>Non Disclosure Agreement</h2>
				<p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p>
			</header>

			<!-- Text -->
				<section>
					<h3>NDA</h3>
					<p>THIS NON-DISCLOSURE AGREEMENT (this “Agreement”) is entered into between Coefficient Capital Management LLC, a Delaware limited liability company (“Disclosing Party”) and the undersigned receiving party (“Receiving Party”) (together, the “Parties”, and each, a “Party”) as of {{ time }} (the “Effective Date”), to protect the confidentiality of certain confidential information of Disclosing Party to be disclosed under this Agreement solely for use in evaluating or pursuing a future relationship between the Parties (the “Permitted Use”).</p>
					<p><a href="{% url 'lastpagewoo' %}" class="button special">Agree</a></p>

					<hr />

		</div>
	</section>

<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<ul class="icons">
				<li><a href="#" class="icon fa-facebook"></a></li>
				<li><a href="#" class="icon fa-twitter"></a></li>
				<li><a href="#" class="icon fa-instagram"></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Untitled</li>
				<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
				<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
			</ul>
		</div>
	</footer>
{% endblock %}


